<ng-container [formGroup]="form">
  <div class="nameInput">
    <input formControlName="name">
  </div>
  <ng-container>
    <table>
      <tr formArrayName="displayedHead">
        <th *ngFor="let col of displayedHead.controls; let i=index">
          <input type="number" [formControlName]="i">
        </th>
        <button (click)="addColumn()">Add Column</button>
      </tr>
      <ng-container formArrayName="myFormArray">
        <tr *ngFor="let element of myFormArray.controls;let i=index">
          <ng-container [formArrayName]="i">

            <th *ngFor="let e of myFormArray2(i).controls; let j=index">
              <input type="number" [formControlName]="j">
            </th>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <button (click)="addRow()">Add Row</button>
</ng-container>
<div>
  <button (click)="onSave()">Save</button>
</div>